body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.head-nav {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: fixed;
}

.head-list {
    width: 90%;
    margin: auto;
    overflow: auto;

}

.col-list-1 {
    width: 41.66%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    float: left;
    margin-top: 10px;

}

.nav-item-left {

    list-style: none;
    float: left;

}

.item-list {
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;

}

.nav-list {
    display: inline-block;
    padding: 10px;

}

.col-img {
    width: 16.66%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    right: 0;
    bottom: 0;
    top: 30px;
    text-align: center;

}

.nav-item-right {
    float: right;
    list-style: none;
    

}
.col-list-soc {
    width: 41.66%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    float: left;

}
.header
{
    
    background-image: url(../images/forest.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.forest-content
{
    width: 40%;
    height: 250px;
    margin: auto;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
}
.we-cont
{
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
}
.for-cont
{
    text-align: center;
    font-size: 90px;
    
}
.un-cont
{
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
}
.button-explore
{

    text-align: center;
    padding-top: 30px;

}
.now
{
     color: white;
     background-color: #BED094;
     border-radius: 35px;
     padding: 15px 35px;
    text-decoration: none;
}
.bgcolor
{
    background-color: white;
    width: 100%;
    position: relative;
}
.our-article
{
    width: 50%;
    margin: auto;
    padding: 100px 0px;
    text-align: center;
}
.h5-story
{
    font-size: 10px;
    font-family: sans-serif;
    color: black;
}
.digi-pera
{
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}
.inter-h5
{
    color: #aeaeae;
    display: inline-block;
}
.read
{
    color:#aeaeae;
    padding-left: 10px;
}
.bggray
{
    background-color: #f2f4ec;
    width: 100%;
    padding: 30px;
}
.container
{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    color:#aeaeae; 
}
.heading
{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 40px;
}
.col
{
    color: black;
}
.ser-color
{
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px;
    color: black;
}
.gallery
{
    overflow: auto;
    width: 100%;

}
.photo-gal
{
    float: left;
    width: 33.33%;
    padding: 10px;
    
    
}
.gall-pic-left
{
    width: 100%;
    height: 185px;
    background-image: url(../images/forest.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    position: relative;
}
.gall-pic-middle
{
    height: 185px;
    width: 100%;
    background-image: url(../images/forest.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    position: relative;
}
.gall-pic-right
{
    height: 185px;
    width: 100%;
    background-image: url(../images/forest.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
.small-icon
{
    width: 40%;
    margin: auto;
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}
.gall-cont
{
    width: 100%;
    background-color: white;
    padding: 50px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.07);
    color: black;
}
.col-blk
{
    font-size: 12px;
    font-family: sans-serif;
    padding: 10px;
}
.qua-cont
{
    width: 28%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color:#aeaeae; 
}
.get-button
{
    text-align: center;
    border: 1px solid #aeaeae;
    border-radius: 30px;
    color: black;
    background-color: #f2f4ec;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    
}
.qua-top
{
    padding: 40px;
}
.section-gal
{
    width: 100%;
    background-color: white;
    padding-top: 140px;
    position: relative;
    
}

.ul-li
{
    width: 70%;
    margin: auto;
    text-align: center;
    
}
.gall-list
{
    display: inline-block;
    padding: 10px;
    text-align: center;
    
}
.gall-ref
{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: sans-serif;
}
.gall-item
{
    list-style: none;
}
.pitcher-gall
{
    width: 100%;
    overflow: auto;
    
}
.pitcher-list
{
    width: 33.33%;
    float: left;
    padding: 5px;
}
.first-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/for-1.jpg);
    background-size: cover;
    background-position: center;
}
.sec-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
}
.third-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
}
.four-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center;
}
.fifth-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-position: center;
}
.six-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/6.jpg);
    background-size: cover;
    background-position: center;
}
.achivements
{
    width: 100%;
    background-color: #f2f4ec;
    position: relative;
}
.achive-we
{
    width: 70%;
    margin: auto;
    overflow: auto; 
    padding: 50px 0px;
    
}
.icon-achive

{
    width: 33.33%;
    float: left;
    padding: 20px;
    
    
}
.achive-table
{
    width: 100%;
    color: black;
}
.font-small
{
    font-size: 8px;
    font-family: sans-serif;
}
.pera
{
    font-size: 12px;
    font-family: sans-serif;
    
}
.table-cont
{
    padding-left: 10px 20px;
}
.section-team
{
    width: 100%;
    background-color: white;
    padding: 80px;
}

.team-picture
{
    width: 80%;
    overflow: auto;
    margin: auto;
}
.team-port
{
    width: 33.33%;
    float: left;
    padding: 10px;
}
.pic-one
{
    width: 100%;
    height: 280px;
    background-image: url(../images/first-member.jpg);
    background-size: cover;
    background-position: left;
}
.pic-two
{
    width: 100%;
    height: 280px;
    background-image: url(../images/2nd-member.jpg);
    background-position: top;
    background-size: cover;
}
.pic-three
{
    width: 100%;
    height: 280px;
    background-image: url(../images/3rd-member.jpg);
    background-position: center;
    background-size: cover;
}
.section-bgblk
{
    width: 100%;
    background-color: black;
}
.section-number
{
    width: 70%;
    margin: auto;
    overflow: auto;
    padding: 50px 15px;
    
}
.section-num-cont
{
    width: 25%;
    float: left;
    
}
.num
{
    margin-bottom: 20px;
}
.num-format
{
   font-size: 65px;
    font-family: "Montserrat";
    color: white;
    text-align: center;
}
.cont-col
{
    color: white;
    font-size: 18px;
    font-family: "Nunito Sans";
    text-align: center;
    
}
.cont-txt
{
    font-size: 14px;
    font-family: "Nunito Sans";
    text-align: center;
    padding: 0px 30px;
    color: white;
}
.section-review
{
    height: 300px;
    width: 100%;
    background-image: url(../images/forest.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
}
.rev-cont
{
    width: 45%;
    margin: auto;
    top: 90px;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
    text-align: center;
}
test-rev
{
    
    font-size: 10px;
    font-family:"Montserrat", sans-serif;
    
}
.color-rev
{
   font-size: 45px;
    font-family:  "Montserrat";
}
.social-sec
{   
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    
 
}
.social-sec-icons
{
    width: 100%;
    overflow: auto;
    padding: 20px 20px;
}

.social-icons-list
{
    width: 25%;
    float: left;
    text-align: center;
}
.form-section
{
    width: 80%;
    background-color: lightblue;
    overflow: auto;
    text-align: left;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.location
{
    width: 33.33%;
    float: left;
    background-color: lightcoral;
    padding: 60px 60px;
    
}
.get-size
{
    font-family: sans-serif;
    font-size: 35px;
}
.get-left
{
    padding: 30px 20px;
}
.feedback
{
    width: 60%;
    float: left;
    background-color: cadetblue;
}









