body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.head-nav {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: fixed;
    
}

.head-list {
    width: 90%;
    margin: auto;
    overflow: auto;

}

.col-list-1 {
    width: 41.66%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    float: left;
    margin-top: 10px;

}

.nav-item-left {

    list-style: none;
    float: left;

}

.item-list {
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;

}

.nav-list {
    display: inline-block;
    padding: 10px;
    color: white;

}

.col-img {
    width: 16.66%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    right: 0;
    bottom: 0;
    top: 30px;
    text-align: center;

}

.nav-item-right {
    float: right;
    list-style: none;
    

}
.col-list-soc {
    width: 41.66%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    float: left;

}
.header
{
    
    background-image: url(../images/forest.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.forest-content
{
    width: 60%;
    height: 250px;
    margin: auto;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
}
.we-cont
{
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}
.for-cont
{
    text-align: center;
    font-weight: bolder;
    font-size: 130px;
    line-height: 1;
    font-family: sans-serif;
    letter-spacing: .5px;
/*        text-transform: uppercase*/
}
.un-cont
{
    font-size: 18px;
    text-align: center;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 200;
    line-height: 1.65em;
    padding: 0px 50px;
    color: white;
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
}
.button-explore
{

    text-align: center;
    padding-top: 30px;
    ;
    

}
.now
{
     color: white;
     background-color: #BED094;
     border-radius: 35px;
     padding: 17px 37px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 1;
}
.bgcolor
{
    background-color: white;
    width: 100%;
    position: relative;
}
.our-article
{
    width: 60%;
    margin: auto;
    padding: 100px 0px;
    text-align: center;
}
.h5-story
{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 15px;
}
.digi-pera
{
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    line-height: 1.55em;
}
.inter-h5
{
    color: #aeaeae;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 10px;
}
.read
{
    color:#aeaeae;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6em;
    
}
.bggray
{
    background-color: #f2f4ec;
    width: 100%;
    padding: 30px;
}
.container
{
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    color:#aeaeae; 
}
.heading
{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 40px;
}
.col-h5
{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 5px;
    
}
.ser-color
{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}
.gallery
{
    overflow: auto;
    width: 100%;

}
.photo-gal
{
    float: left;
    width: 33.33%;
    padding: 10px;
    
    
}
.gall-pic-left
{
    width: 100%;
    height: 185px;
    background-image: url(../images/forest.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    position: relative;
}
.gall-pic-middle
{
    height: 185px;
    width: 100%;
    background-image: url(../images/forest.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    position: relative;
}
.gall-pic-right
{
    height: 185px;
    width: 100%;
    background-image: url(../images/forest.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
.small-icon
{
    width: 10%;
    margin: auto;
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}
.gall-cont
{
    width: 100%;
    background-color: white;
    padding: 50px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.07);
    color: black;
}
.web-h2
{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1em;
    font-family:  'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}
.col-blk
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.65em;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 30px;
}
.dis
{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.ser-dis
{
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    
}
.qua-cont
{
    width: 30%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color:#aeaeae; 
}
.get-button
{
    text-align: center;
    border: 1px solid #aeaeae;
    border-radius: 30px;
    color: rgba(0, 0, 0, .85);
    background-color: #f2f4ec;
    padding: 17px 37px;
    font-size: 10px;
    font-family:  'Montserrat', sans-serif;
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10.5px;
    line-height: 1;
    display: inline-block;
    
    
}
.qua-top
{
    margin-bottom: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    
}
.section-gal
{
    width: 100%;
    background-color: white;
    padding-top: 140px;
    position: relative;
    
}

.ul-li
{
    width: 70%;
    margin: auto;
    text-align: center;
    
}
.gall-list
{
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    
}
.gall-ref
{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
    padding: 7px 13px;
    
}
.gall-item
{
    list-style: none;
    margin-bottom: 30px;
}
.pitcher-gall
{
    width: 100%;
    overflow: auto;
    
}
.pitcher-list
{
    width: 33.33%;
    float: left;
    padding: 5px;
}
.first-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/for-1.jpg);
    background-size: cover;
    background-position: center;
}
.sec-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
}
.third-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
}
.four-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center;
}
.fifth-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-position: center;
}
.six-pic
{
    width: 100%;
    height: 300px;
    background-image: url(../images/6.jpg);
    background-size: cover;
    background-position: center;
}
.achivements
{
    width: 100%;
    background-color: #f2f4ec;
    position: relative;
}
.achive-we
{
    width: 80%;
    margin: auto;
    overflow: auto; 
    padding: 50px 0px;
    
}
.icon-achive

{
    width: 33.33%;
    float: left;
    padding: 10px;
    margin: 55px 0px;
    
    
}
.achive-table
{
    width: 100%;
    color: black;
}
.font-small
{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 600;
}
.pera
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 10px;
    
}
.table-cont
{
    padding-left: 10px 20px;
}
.section-team
{
    width: 100%;
    background-color: white;
    padding: 80px;
}

.team-picture
{
    width: 80%;
    overflow: auto;
    margin: auto;
}
.team-port
{
    width: 33.33%;
    float: left;
    padding: 10px;
}
.pic-one
{
    width: 100%;
    height: 280px;
    background-image: url(../images/first-member.jpg);
    background-size: cover;
    background-position: left;
}
.pic-two
{
    width: 100%;
    height: 280px;
    background-image: url(../images/2nd-member.jpg);
    background-position: top;
    background-size: cover;
}
.pic-three
{
    width: 100%;
    height: 280px;
    background-image: url(../images/3rd-member.jpg);
    background-position: center;
    background-size: cover;
}
.section-bgblk
{
    width: 100%;
    background-color: black;
}
.section-number
{
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 50px 15px;
    
}
.section-num-cont
{
    width: 25%;
    float: left;
    padding: 0px 20px;
    
    
}
.pro-sec-num
{
    margin: 30px 0px;
    width: 100%;
}
.num
{
    margin-bottom: 20px;
}
.num-format
{
   font-size: 65px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: -1px;
    font-family: "Montserrat";
    color: white;
    text-align: center;
}
.cont-col
{
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.65em;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    
}
.cont-txt
{
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6em;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: 300;
}
.section-review
{

    width: 100%;
    background-image: url(../images/forest.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
}
.rev-cont
{
    width: 45%;
    margin: auto;
    padding: 160px 0px;
    color: white;
    text-align: center;
}
.test-rev
{
    
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 5px;
    
}
.color-rev
{
   font-size: 45px;
    font-weight: 600;
    line-height: 1.2em;
    font-family:  'Montserrat', sans-serif;
    margin-bottom: 40px;
}
.color-txt-rev
{
    font: 200 18px/1.65em 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
}
.social-sec
{   
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    
 
}
.social-sec-icons
{
    width: 100%;
    overflow: auto;
    padding: 20px 20px;
}

.social-icons-list
{
    width: 25%;
    float: left;
    text-align: center;
}
.form-section
{
    width: 80%;
    overflow: auto;
    text-align: left;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.location
{
    width: 33.33%;
    float: left;
    padding: 0px 15px;;
    
}
.get-size
{
    font-family:  'Montserrat',sans-serif;
    line-height: 1.2em;
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: 600;
}
.get-left
{
    
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-border
{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.12);
}
.font-col
{
    font-size: 10px;
    font-weight: 600;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, .85);
    
}
.font-col-p
{
        font: 400 14px/1.6em 'Nunito Sans', sans-serif;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 10x;
    
    
}

.feedback
{
    width: 66.66%;
    float: left;
    padding: 0px 15px;
}
.form-inputs
{
 
margin-bottom: 15px;
}
.bgcolor .feedback input
{
    width: 100%;
    height: 44px;
    padding: 10px 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: #555;
    border-radius: 2px;
    background-color: #F4F2EC;
    border: none;
}
.bgcolor .feedback textarea
{
    width: 100%;
    padding: 10px 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: #555;
    border-radius: 2px;
    background-color: #F4F2EC;
    border: none;
}
.bgcolor .feedback button
{
    border: 1px solid rgba(0, 0, 0, .15);
     color: rgba(0,0,0,0.85);
    border-radius: 50px;
    font: 600 10.5px/1 'Montserrat', sans-serif;
    letter-spacing: 1px;
    padding: 17px 37px;
    background-color: white;
    
    
    
}
.map-sec
{
    width: 100%;
}
.images
{
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}
.img-sec
{
    width: 20%;
    float: left;
    text-align: center;
}
.footer
{
    width: 100%;
    background-color: black;
    padding-bottom: 60px;
    padding-top: 60px;
}
.footer-cont
{
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 20px 20px;
}
.foot-list
{
    float: left;
    width: 70%;
}
.col-list-foot
{
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    float: left;
    width: 80%;
    font-size: 12px;
}
.footer-logo-copy
{
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-align: right;
    
}
.main-logo
{
    text-align: right;
    margin-bottom: 10px;
}
.policy-col
{
    color: white;
    font-size: 12px;
}
.foot-pera-txt
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 10px;
    display: inline-block
}













